html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}

input {
    width: calc(100% - 20%);
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

.result {
    width: calc(100% - 20%);
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

.result:hover {
    color: white;
    background-color: skyblue;
    cursor: default;
}

button {
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

button:hover {
    background-color: darkgray;
}

.noResult {
    width: calc(100% - 20%);
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    background-color: lightgray;
}

label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #999999;
}
